* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e7eb;
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans',
    Arial, sans-serif;
}

.app {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 1rem;
}

aside {
  max-width: 400px;
}

@media (min-width: 768px) {
  aside {
    width: 20rem;
  }
}

h1 {
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
}

.description {
  margin-top: 1rem;
  font-size: 0.875rem;
}

.description p {
  margin-bottom: 1em;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.commands {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.15rem;
  font-size: 0.875rem;
}

main {
  width: 300px;
  display: flex;
  flex-direction: column;
}

svg {
  border: 2px solid #6b7280;
  background-color: white;
  border-radius: 2px;
  width: 300px;
  height: 300px;
}

form {
  margin-top: 1.5rem;
  display: flex;
  gap: 0.5rem;
}

input {
  flex-grow: 1;
  border: 1px solid #6b7280;
  border-radius: 2px;
  padding: 0.4rem 0.6rem;
  height: 2rem;
  font-family: 'Fira Mono', monospace;
  font-weight: bold;
  outline: none;
}

input:focus {
  border-color: #374151;
}

button {
  outline: none;
  border: none;
  background-color: #3b82f6;
  font-weight: 700;
  color: white;
  border-radius: 2px;
  padding: 0.4rem 1.6rem;
  font-family: monospace;
  cursor: pointer;
}

button:hover {
  background-color: #2563eb;
}

@media (width >= 768px) {
  .app {
    flex-direction: row;
    align-items: flex-start;
  }

  body {
    /* background-color: pink; */
  }

  main {
    width: 400px;
  }

  svg {
    width: 400px;
    height: 400px;
  }
}
