* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e7eb;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 1rem;
  max-height: 100%;
}

@media (min-width: 768px) {
  .app {
    flex-direction: row;
    align-items: flex-start;
    max-height: 100vh;
  }
}

aside {
  max-width: 400px;
}

@media (min-width: 768px) {
  aside {
    width: 16rem;
  }
}

h1 {
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
}

.description {
  margin-top: 1rem;
  font-size: 0.875rem;
}

.commands {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.95rem;
  font-size: 0.875rem;
}

main {
  width: 400px;
  display: flex;
  flex-direction: column;
}

svg {
  border: 2px solid #6b7280;
  background-color: white;
  border-radius: 2px;
}

form {
  margin-top: 1.5rem;
  display: flex;
  gap: 0.5rem;
}

input {
  flex-grow: 1;
  border: 1px solid #6b7280;
  border-radius: 1px;
  padding: 0.3rem 0.6rem;
  font-family: 'Fira Mono', monospace;
  font-weight: bold;
  outline: none;
}

input:focus {
  border-color: #4b5563;
}

button {
  outline: none;
  border: none;
  background-color: #3b82f6;
  color: white;
  border-radius: 1px;
  padding: 0.25rem 1.5rem;
  font-family: monospace;
  font-weight: semibold;
  cursor: pointer;
}

button:hover {
  background-color: #2563eb;
}

#error {
  display: none;
  background-color: #fca5a5;
  color: #991b1b;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-family: monospace;
}
